* {
    padding: 0;
    margin: 0;
  }

.navbar-nav {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.titulo {
    padding-top: 80px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: #000;
}

p {
    margin: 0px 200px;
    margin-bottom: 20px;
}

img {
    width: 1000px;
    display: block;
    margin: 0px auto;
}

.cara {
    max-width: 500px;
    
}

.nav-link {
    border-radius: 10px;
}
.nav-link:hover {
    background-color: #86fa02;;
    color: #000023;
}

.navbar-brand:hover {
    color: #86fa02;
}

nav {
    background-color: #000023;
}