* {
    padding: 0;
    margin: 0;
}

.titulo {
    padding-top: 80px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: #000;
}

img {
    width: 100%;
}

.cara {
    max-width: 500px;
}

.nav-link {
    border-radius: 10px;
    color: #fff;
}
.nav-link:hover {
    background-color: #86fa02;;
    color: #000023;
}

.navbar-brand:hover {
    color: #86fa02;
}

nav {
    background-color: #000023;
}

footer {
    font-weight: 300;
	display: flex;
	justify-content: space-evenly;
	background: #000023;
}

.footer > p {
    margin: 1rem;
    color: #fff;
}

.footer > p > a {
    text-decoration: none;
    color: #86fa02;  
}

.logo-footer {
    width: 20px;
}